div {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3B3832;
}

body > * {
  margin: 0 auto;
}

h1 {
  color: #E8E0CA;
  text-align: center;
}

.dungeon {
  width: 1200px;
  height: 800px;
  background-color: #a38d64;
  border: 10px dotted black;
  position: relative;
  box-sizing: content-box;
  cursor: crosshair;
  margin: 0 auto;
}

.enemy {
  /*background-color: #000000;*/
  color: red;
}

.hero {
  /*background-color: #ffcc00;*/
  color: black;
}

.entity {
  width: 50px;
  height: 50px;
  position: absolute;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
}

.entity > .fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.weapon {
  position: absolute;
  top: 20px;
  left: -20px;
  transition-duration: 1s ease;
  height: 10px;
  width: auto;
  margin: -10px;
  z-index: 100;
}
